# Directories to ignore
_docs/
_proc/
**/__pycache__/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
htmlcov/
.tox/
.cache
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints/
.venv
venv/
ENV/
.spyderproject
.spyproject
.ropeproject
/site
.mypy_cache/
.vscode
.pytest_cache
docs_src/.last_checked
docs_src/fastai
tools/fastai
checklink/
.quarto
.history
outputs/
wandb/
logs/
slurm/juddges.sif
local_notebooks/
**/postgres-juddges/**

# Files to ignore
*.bak
.gitattributes
.last_checked
.gitconfig
*.log
*~
~*
_tmp*
tmp*
tags
*.pkg
*.py[cod]
*$py.class
*.so
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
.hypothesis/
*.mo
*.pot
local_settings.py
*.sage.py
*.env
.DS_Store
.DS_Store?
.Trashes
ehthumbs.db
Thumbs.db
.idea
.gitconfig
.deb
.pkg
secrets.env
*.db
slurm/.commands.sh

# Git-specific files (not needed in Docker)
.git
.gitignore

# Docker-specific additions
Dockerfile
docker-compose.yml
.dockerignore
*.dockerfile
