langchain-openai==0.1.1
langchain==0.1.14
loguru==0.7.2
mpire==2.10.0
pymongo==4.3.3
python-dotenv==1.0.1
requests==2.31.0
rich==13.7.0
tenacity==8.2.3
typer==0.9.0
xmltodict==0.13.0

# dev
coverage==7.4.3
dvc[s3]==3.48.3
mlflow==2.11.3
mypy==1.8.0
nbdev==2.3.13
psycopg2-binary==2.9.9
pytest==8.0.2
ruff==0.2.2
streamlit==1.31.1