/judgements-100-sample-with-retrieved-informations.csv
/judgements-100-sample.csv
/judgements-10-konfiskata-sample-with-retrieved-informations.csv
/judgements-konfiskata-100-sample.csv
/judgements-konfiskata-10-sample.csv
